############### Mac .gitignore (simplified) from https://github.com/github/gitignore/blob/master/Global/OSX.gitignore

.DS_Store

############### Python .gitignore (simplified) from https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

################
# created by maltparser:
*.mco

# ignore particular directories in the datasets directory (which contains PTB and derivatives thereof created during dataset creation)
datasets/dependency
datasets/dependency_filtered_ordering_atomic
datasets/zgen_data
datasets/zgen_data_gold
datasets/zgen_data_nonpsyms
datasets/zgen_data_npsyms_freq3_unkUNK
datasets/treebank_3_original
datasets/treebank_3
datasets/LDC99T42.tgz

